body{
	margin: 0;
}
#header-nav{
	box-sizing: content-box;
	background-color: chartreuse;
	height: 150px;
	/*width: 100vw;
    position: relative;
    margin-left: -.57vw;
    overflow: hidden;*/
}
.container{
	/*background-color: blue;*/
	position: relative;
	top: 40px;
	font-size: 50px;
	margin-left: 15px;
}
#id1{
	text-align: center;
	font-size: 45px;
}
#hdng{
	text-align: center;
	font-size: 40px;
	background-color: pink;
	margin: 10px;
	margin-bottom: 0;
}
#a1{
/*	height: 1000px;*/
	background-color: pink;	
	font-size: 25px;	
	padding: 10px;
	margin: 10px;
	margin-top: 0;
}
